*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lilita One', cursive;
}
body{
    background: rgb(27, 158, 202);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.contenedor{
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    margin: 50px;
    background: white;
    display: grid;
    grid-template-columns: 1fr 2fr; 
}
.contenedor .izquierdo{
    position: relative;
    background: rgba(187, 54, 92, 0.776);
    padding: 40px;
}
.nombre{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid white;
}
.nombre .foto{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}
.nombre .foto img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.nombre h2{
    color: black;
    font-size: 1.5em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;  
}
.contacto {
    padding-top: 40px;
}
.info{
    color: black;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 20px;
}
.contacto ul{
    position: relative;
}
.contacto ul li{
    position: relative;
    margin: 10px;
    cursor: pointer;
}
.contacto ul li .icono{
    display: inline-block;
    width: 30px;
    font-size: 18px;
}
.contacto ul li span{
    font-weight: 300;
}
.habilidades{
    color: black;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
}
.habilidades ul{
    position: relative;
}
.habilidades ul li{
    position: relative;
    margin: 10px;
    cursor: pointer;
}


.contenedor .derecho{
    position: relative;
    background-color: blueviolet;
    padding: 40px
}
