@media screen and (max-width:300px) {
    
#img { 
    width: 90px;
}
#Contactos{
    border: 5px solid blue;

}
#h2{
    color: blue;
}
#top{
    border-left: #d80a0a;
}

}

body {

    background-color: whitesmoke;
}

img {
    z-index: 100;
    background-position: 0%;
    width: 200px;
    height: 200px;
    background-size: cover;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: -250px;
    margin-left: 94px;
}
/*
#top { 
    border-left: 487px solid  rgb(1 52 99);
    border-top: 1000px;
    border-right: 1400px solid #e0eaf6;
    border-bottom: 147px solid transparent;
    height: 54px;
}
*/

#columna1 {  
    
    top:270px;
    left:30px;
    width:200px;
    margin-top:10px;
    background-color: blue;
    font-family:Arial, Helvetica, sans-serif
}
#columna_izq {
    position: unset;
    margin: auto;
    top:200px;
    left:40px;
    width:200px;
    margin-top:10px;
    background-color:#d80a0a;   
} 

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 300,
  'GRAD' -25,
  'opsz' 20
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 300,
  'GRAD' -25,
  'opsz' 20
}
.Habilidades_style {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: black;  
}
h2{
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: underline;
}
p {
    font-family: 'Josefin Sans', sans-serif;
    font-size: larger;
    font-weight: 800;
}

#Contactos{
    width: 265px;
    border: 15px solid rgb(28, 41, 28);
    padding: 67px;
    margin: 30px;
}
#Habilidades{
    width: 265px;
    border: 15px solid rgb(28, 41, 28);
    padding: 67px;
    margin: 30px;
}
#Idiomas{
    width: 265px;
    border: 15px solid rgb(28, 41, 28);
    padding: 67px;
    margin: 30px;
}
#Sofware{
    width: 265px;
    border: 15px solid rgb(28, 41, 28);
    padding: 67px;
    margin: 30px;
}
#Nombre{
    float: right;
    width: 165px;
    border: 15px solid rgb(28, 41, 28);
    padding: 67px;
    margin: 30px;
}
#Perfil{
    float: right;
    width: 165px;
    border: 15px solid rgb(28, 41, 28);
    padding: 67px;
    margin: 30px;
    
}

header{}